// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;


// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
$bggray: hsl(207, 8%, 22%);
$primary: red;
$lightgrey: #595959;
$light: #D5D5D5;
$verylight: #F7F7F7;
$white: white;
$font: #D5874C;
$orange: #EF9D5F;
$lightorange: #FFAD6E;
$backgroundorange: #FFF7F2;




